.flickr{
  width: 400px;
  height: 500px;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
}

.title{
  background-color: #ababab;
  color: #f3f3f3;
  height: 30px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-family: "Istok Web", sans-serif;
}

.flickrcontent{
  height: 100%;
  overflow: scroll;
  display: block;
}

.flickrimage{
  height: 100px;
  padding: 2px;
  margin: 2px;
  float: left;
  position: relative;
}

.flick{
  color: #0063DC;
}

.r{
  color: #FF0084;
}

a{
  text-decoration: none;
}
