.cityname{
    font: bold 40px "Lucida Sans Unicode";
    font-variant: small-caps;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.map {
    height: 45%;
    width: 100%;
}

html{
    background-color: #e1e1e1;
}