<?xml version="1.0" encoding="UTF-8"?>
<config>
    <dbhostname>51.75.162.4</dbhostname>
    <dbport>3306</dbport>
    <dbusername>username</dbusername>
    <dbpassword>password</dbpassword>
    <darkskyapikey>f5d3e696f6c590a25f1de6811d30d390</darkskyapikey>
    <apilist>
        <openlayers>https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js</openlayers>
        <hullweather>http://www.ewwa.net/wx/clientraw.txt</hullweather>
        <rotterdamweather>http://www.erkamp.eu/wdl/clientraw.txt</rotterdamweather>
        <darksky>https://api.darksky.net/forecast/</darksky>
        <font>https://fonts.googleapis.com/css?family=Istok+Web</font>
    </apilist>
</config>