.city{
    width: 43%;
    height: 100%;
    float: left;
    padding: 2%;
    text-align: center;
    margin: 0.5%;
}

.cityname{
    font: bold 40px "Lucida Sans Unicode";
    font-variant: small-caps;
}

.temp{
    font: normal 20px "Lucida Sans Unicode";
    font-variant: small-caps;
}

.windspeed{
    font: normal 20px "Lucida Sans Unicode";
    font-variant: small-caps;
}

.link{
    font: normal 20px "Lucida Sans Unicode";
    font-variant: small-caps;
    padding-top: 100%;
}

.icon{
    height: 25%;
    width: 40%;
}

#map{
    margin-left: 15%;
}

