.city{
    width: 43%;
    height: 100%;
    float: left;
    padding: 2%;
    text-align: center;
    margin: 0.5%;
}

.cityname{
    font: bold 40px "Istok Web";
    font-variant: small-caps;
}

.temp{
    font: normal 20px "Istok Web";
    font-variant: small-caps;
}

.windspeed{
    font: normal 20px "Istok Web";
    font-variant: small-caps;
}

.link{
    font: normal 20px "Istok Web";
    font-variant: small-caps;
    padding-top: 100%;
}

.icon{
    height: 25%;
    width: 40%;
}

.map{
    margin-left: 10%;
    height: 550px;
    width: 80%;
}

.ol-popup {
    position: absolute;
    background-color: #e3e3e3;
    padding: 15px;
    border-radius: 10px;
    font: normal 15px "Istok Web";
    color: #3e3e3e;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 250px;
}
.ol-popup-content {
    position: relative;
    min-width: 200px;
    min-height: 150px;
    height: 100%;
    max-height: 250px;
    padding:2px;
    white-space: normal;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "X";
}

.navbar{
  overflow: hidden;
  background-color: #e3e3e3;
  min-height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar a{
  font: normal 30px "Istok Web";
  float: left;
  display: block;
  color: #3e3e3e;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-family: none;
}

.navbar a:hover{
  background-color: #3e3e3e;
  color: #e3e3e3;
}

html:not(.navbar){
  padding-top: 40px;
}
